.w3-container{
    background-color: antiquewhite;
    margin-bottom: 20px;
}

.w3-button w3-block w3-black{
   background-color: white;
}

.fa {
   
        padding: 17px;
        border-radius: 15px;
        box-shadow: #84809c;
}
     
.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
 background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25); }

.fa-github{
    background-color:#efedea;
    border: 2px solid black;
    color: #101010;
 }

h1{
    font-size: 30px;
    color: rgb(212, 0, 255);
}


#contact{
    font-size: 20px;
    color: #3B5998;
}
.contact-us{
    font-weight: bold;
    padding-bottom: 35px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

.close{
    cursor: pointer;
    border: solid thin;
font-weight: bold;
}
input{
    color-scheme:antiquewhite ;
}